@model ENTIDAD.TIPOSERVICIO

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear</h2>

<form action="@Url.Action("Crear","Tiposervi")" method="post" id="frmtiposerv">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_CATEGORIA)
        <div class="form-group">
            <h4>TIPO SERVICIO</h4>
          
        </div>

        <div class="form-group">         
            <label class="control-label col-md-2">CATEGORIAS O SERVICIOS DE TRABAJOS</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                <input type="text" class="form-control" id="CATEGORIA" name="CATEGORIA" placeholder="NOMBRE DEL TIPO DE SERVICIO" />
                @Html.ValidationMessageFor(model => model.CATEGORIA, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-success" />
            </div>
        </div>
    </div>
    </form>

    <div>
        <a class="btn btn-danger" style="border-bottom:double" href="@Url.Action("Index","Tiposervi")"><i class="glyphicon glyphicon-remove"></i> Cancelar</a>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

<script>

    $("#frmtiposerv").submit(function (event) {
            event.preventDefault();

            var post_url = $(this).attr("action");
            var request_method = $(this).attr("method");
            var form_data = $(this).serializeArray();
            console.log(form_data);

            LoadingOverlayShow("#frmtiposerv");

            $.ajax({//AQUI EMPIEZA A CREAR
                url: post_url,
                type: request_method,
                data: form_data
            }).done(function (response) {
                console.log(response);

                LoadingOverlayHide("#frmtiposerv");

                if (response.ok)
                {
                    alert("Servio creado con Exito");
                    window.location = response.toRedirect;
                }
                else
                {
                    alert(response.msg);
                }


            }).fail(function (jqxHR, textStatus, errorThrowm) {
                LoadingOverlayHide("#frmtiposerv")
            });
        });
</script>
    }
