@model ENTIDAD.EMPLEADO

@{
    ViewBag.Title = "elimina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>elimina</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>EMPLEADO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ID_EMPLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_EMPLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DNI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DNI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NON)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NON)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_CARGO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_CARGO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_DEPARTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_DEPARTA)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
