@model IEnumerable<ENTIDAD.MATERIALES>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Materiales/Herramientas</h2>
<p>
    <a class="btn btn-success" style="border-bottom:double" href="@Url.Action("Crear","Material")"><i class="glyphicon glyphicon-plus"></i> Crear Nuevo</a>
</p>
<hr />
<table class="display" id="tablaidM" style="width:100%">
    <thead>
        <tr>
            <th>
                <label> Numero Identificador </label>            
            </th>
            <th>
                <label> Material/Herramienta </label>
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_MATERIAL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.METERIAL)
                </td>
                <td>
                    <a class="btn btn-primary btn-xs" title="Editar" style="border-bottom:double" href="@Url.Action("editar","Material",new {id=item.ID_MATERIAL})">
                        <i class="glyphicon glyphicon-edit"></i>
                    </a>
                    <a class="btn btn-info btn-xs" title="Detalle" style="border-bottom:double" href="@Url.Action("detalleMateri","Material",new {id=item.ID_MATERIAL})">
                        <i class="glyphicon glyphicon-eye-open"></i>
                    </a>
                    <a class="btn btn-danger btn-xs" style="border-bottom:double" onclick="EliminarM(@item.ID_MATERIAL)" title="Eliminar">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>

</table>


@section scripts {
    
    <script>
        $('#tablaidM').DataTable();

        function EliminarM(idmaterial)
        {
            $.confirm({
                title: 'Eliminar!',
                content: '¿ESTAS SEGURO DE ELIMINAR ESTE MATERIAL/HERRAMIENTA?',
                buttons: {
                    confirmar: function () {
                        LoadingOverlayShow("#tablaidM");//PARA LLAMAR LA FUNCION LOADING
                        $.ajax({
                            url: "/Material/elimina",
                            type: "post",
                            data: { id: idmaterial }
                        }).done(function (response) {
                            console.log(response);
                            LoadingOverlayHide("#tablaidM");

                            if (response.ok) {
                                alert("Material/Herramienta Eliminado");
                                window.location = response.toRedirect;
                            }
                            else {
                                alert(response.msg);
                            }


                        }).fail(function (jqxHR, textStatus, errorThrowm) {
                            LoadingOverlayHide("#tablaidM")
                            alert(textStatus);
                        });

                    },
                    cancelar: function () {
                        
                    },
                 
                }
            });

        }
    </script>
}